body{font-family: "Roboto", sans-serif;font-style: normal;background-image:url('https://pbs.twimg.com/media/Fk2FoX_XEAIcdlF?format=jpg&name=large');background-repeat:no-repeat;background-size:auto 100%;background-position:center;background-attachment:fixed}
td{text-align:center;}
tr.head{background-color:#CF2B24;color:white;}
tr.foundational{background-color:black;color:white;}
table{margin-left:auto;margin-right:auto;}
.rarrow{color:#CF2B24;}
table.main{width:75%;background-color:white}