@font-face {
    font-family: "Optima Nova Pro Medium";
    src: url(./assets/OPTIMANOVALTPROMEDIUM.OTF);
  }

body{font-family: "Optima Nova Pro Medium", sans-serif;
    font-style: normal;
    background-image: url('./assets/oppaper.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
    vertical-align: top;
}
td{
    text-align: center;
    vertical-align: top;
}
tr.head{
    background-color: #CDCECC;
    color: #931F24;
    font-family: "Optima Nova Pro Medium", sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-size:large;
}
tr.foundational{
    background-color: black;
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
}
table.table{
    width: 75%;
    background-color: #CDCECC;
}
.rarrow{
    color: #CF2B24;
}
table.main{
    width: 75%;
    background-color: white;
}
tr:nth-child(even) {
    background-color: #A4A6A3;
}